{% extends "@NCMFUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="text-center">
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
            <i class="far fa-user fa-5x mb-4"></i>
            <h1 class="h3 mb-3 font-weight-normal">{{ 'security.authorization'|trans({}, 'NCMFUserBundle') }}</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
            <input class="form-control form-control--first" id="username" name="_username"
                   placeholder="{{ 'security.login.username'|trans }}"
                   value="{{ last_username }}"
                   required autofocus>

            <label for="inputPassword" class="sr-only">{{ 'security.login.password'|trans }}</label>
            <input class="form-control form-control--password" placeholder="{{ 'security.login.password'|trans }}"
                   type="password" id="password"
                   name="_password"
                   required>

            <div class="checkbox mb-3 mt-2">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me"
                           value="on"/>
                    {{ 'security.login.remember_me'|trans }}
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit"
                    name="_submit">{{ 'security.login.submit'|trans }}</button>
            <div class="row mt-3">
                <div class="col-md-6 text-left">
                    <small><a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a></small>
                </div>
                <div class="col-md-6 text-right">
                    <small><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></small>
                </div>
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; {{ 'now'|date('Y') }}</p>
        </form>

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include "@NCMFUser/Security/styles.html.twig" %}
{% endblock %}
