{% extends "@NCMFUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="text-center">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin'}}) }}
        <i class="fas fa-user fa-5x mb-4"></i>
        <h1 class="h3 mb-3 font-weight-normal">{{ 'layout.register'|trans }}</h1>
        {{ form_errors(form) }}
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="text-left">
            {{ form_widget(form) }}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit"
                name="_submit">{{ 'security.login.submit'|trans }}</button>
        <div class="row mt-3">
            <div class="col-md-6 text-left">
                <small><a href="{{ path('fos_user_security_login') }}">Зарегистрированы?</a></small>
            </div>
            <div class="col-md-6 text-right">
                <small><a href="{{ path('fos_user_security_login') }}">Забыли пароль?</a></small>
            </div>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; {{ 'now'|date('Y') }}</p>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include "@NCMFUser/Security/styles.html.twig" %}
{% endblock %}